.wy-table-responsive table td, .wy-table-responsive table th {
 /* white-space: normal !important; */
}

.table tbody tr {
      transition: 1s ease-in-out;
}

figure figcaption {
    opacity: 35%;
}

code {
 background: #fff8b9;
 background-image: linear-gradient(90deg,#fff386 0,#fff8b9 60%,#fff386);
 border-radius: 2px;
 color: black;
}